a, a:link {
  cursor: pointer;
}

body {
  background: #FFF url('/img/bg-pattern.gif');

  &.barebones {
    padding-top: 0;
  }

  &.modal-active {
    overflow: hidden;
  }
}

#content {
  //.user-select(none);
}

.jumbotron {
  .user-select(none);
  margin-bottom: 20px;
}

/* Modals
---------------------------------*/

#postModal {
  iframe {
    width: 100%;
  }
}

.zoomScroll {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  overflow-y: scroll;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.modal {
  bottom: 0;
  display: block;
  left: 0;
  margin: 0;
  padding: 0;
  right: 0;
  top: 0;
  width: 100%;
  background: transparent;
}

#modal-frame {
  border: 0;
}

#postModal {
  .container{
    width: 100%;
  }

  .modal-body {
    max-height: auto;
    padding: 0;
    width: 100%;
  }
}


/* Drop Shadow
---------------------------------*/

.drop-shadow {
  position:relative;
  @shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  .box-shadow(@shadow);
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

/* Curved Drop Shadow
---------------------------------*/

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  @shadow: 0 0 15px rgba(0,0,0,0.6);
  .box-shadow(@shadow);
  @border: 10px 10px 10px ~"10px / 100px" 100px 100px 100px;
  border-radius: @border;
}

.curved-hz-1:before {
  top:50%;
  bottom:0;
  left:10px;
  right:10px;
  @border: 100px 100px 100px ~"100px / 10px" 10px 10px 10px;
  border-radius: @border;
}

/* Border
---------------------------------*/

.bordered {
  border-top:1px solid #F2F2F2;
  border-bottom:1px solid #CCCCCC;
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
}


/* Masonary Base
---------------------------------*/

.box {
  font-size: 12px;
  float: left;
  position: relative;

  .box-inner {
    border-radius: 5px;
    display: block;
    #gradient > .vertical(#f9f9f9, #f0f0f0);

    &:hover {
      #gradient > .vertical(#f9f9f9, #e0e0e0);
    }
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  .pos {
    padding: 1em;
  }

  h2 {
    font-size: 14px;
    line-height: 18px;
    font-weight: 200;
    margin: 0 0 5px;
    color:#454545;
  }

  p {
    margin-bottom: 0px;
    color:#787878;
  }
}

/* Masonary Fluid
---------------------------------*/

#isotopeContainer  {
  .user-select(none);
  .box, .grid-sizer {
    width: 100%;
    margin-bottom: 15px;
  }

  .col1 { width: 100%; }
  .col2 { width: 100%; }
  .col3 { width: 698px; }
}

@media (min-width: @screen-sm-min) {
  #isotopeContainer  {
    .box, .grid-sizer {
      width: 355px;
      margin-bottom: 15px;
    }

    .col1 { width: 355px; }
    .col2 { width: 720px; }
    .col3 { width: 698px; }
  }
}

@media (min-width: @screen-md-min) {
  #isotopeContainer  {
    .box, .grid-sizer {
      width: 180px;
      margin-bottom: 15px;
    }

    .col1 { width: 180px; }
    .col2 { width: 370px; }
    .col3 { width: 698px; }
  }
}

@media (min-width: @screen-lg-min) {
  #isotopeContainer  {
    .box, .grid-sizer {
      width: 220px;
      margin-bottom: 15px;
    }

    .col1 { width: 220px; }
    .col2 { width: 450px; }
    .col3 { width: 698px; }
  }
}


/* Isotope Filters
---------------------------------*/

.nav-filters {
  .user-select(none);
  ul {
    margin-bottom: 20px;
    li {
      a {
        &:hover, &:active {
          text-decoration: none;
        }
      }
      &.active {
        a {
          color: darken(@brand-primary, 20%);
        }
      }
    }
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/* Footer
---------------------------------*/

footer {
  font-size: 11px;
  margin-bottom:25px;

  p {
    margin:0px;
    line-height: 30px;
  }

}

.syntaxhighlighter table td.code .container:before, .container:after {
  content: none;
}
